<%- include('common/head.ejs') %>

<main>
    <label for="cussword">
        WHERE ARE THOSE TWEETS COMING FROM?<br>
        <input id="cussword" type="text" placeholder="searchword here...">
        <button type="submit" id="cusswordButton">Find out!</button>
    </label>
    
    <div id="container"></div>
</main>

<%- include('common/foot.ejs') %>